
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 36px;
    text-decoration: none;
    font-size: 250%;
  }

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #7c0000;}


  h1 {
    text-align: center;
  }

  .info{
    margin-left: 2;
    margin-right: 2;
      text-align: center;
  }

  body{
    margin: 1;
    background-color: black ;
  }

  .textpart{
    color: white;
    font-size: 180%;
  }

 
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #7c0000;
    font-size: 80%;
  }