ul.topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 36px;
    text-decoration: none;
    font-size: 250%;
  }

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #7c0000;}


  body{
    margin: 1;
    background-color: black ;
  }

  .imagen3{
    color: white;
    font-size: 200%;
    text-align: center;
  }